<h1>TOTAL GANHO = R${{ total_ganho }}</h1>
<h1>TOTAL DESPESA = R${{ total_despesa }}</h1>
<h1>TOTAL = R${{ total }}</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi quidem, fuga officiis minima facilis earum, iure quibusdam quam nemo nostrum quo suscipit. Voluptates, nostrum reiciendis! Quae amet pariatur animi dolor.</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam porro rem eius, qui id distinctio accusantium aliquam fuga dignissimos obcaecati nulla unde ullam. Inventore vero placeat porro distinctio voluptas id!</p>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium soluta aperiam odio culpa numquam assumenda? Voluptas possimus unde, consequuntur dolorem iste totam eligendi asperiores velit doloremque alias, neque illum amet.</p>